*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size:20px;
}
body{
    display: flex;
    flex-direction: column;
    margin:auto;
    align-items: center;
    height:100vh;
    justify-content: center;
    min-width:300px;
}
.restart,.start{
    padding:1em;
    border-radius: .5em;
    width:10em;
}
table{
    border-collapse: collapse;
    margin: 2em;
}
td{
    border:2px solid #333;
    height:8em;
    width:8em;
    cursor: pointer;
    text-align: center;
}
table tr:first-child td {
    border-top:0;
}
table tr:last-child td {
    border-bottom:0;
}
table tr td{
    border-left:0;   
}
table tr td:last-child {
    border-right:0;
}
.inputs,.options{
    padding:.5em;
    display: flex;
    align-items: center;
}
input,.options>*{
    padding:1.1em;
    border-radius: .5em;
    margin:0em 1em;
}
